/******************************

Styling tips from Google API Docs:
https://developers.google.com/maps/documentation/javascript/basics

******************************/

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, 
body {
	margin: 0px;
	padding: 0px;
}

html,
body,
.app-container,
#sidebar {
	height: 100%;
}

body {
	font-family: Raleway, Verdana, sans-serif;
	color: #fff;
}

h1 {
	margin-top: 0px;
	margin-left: 0px;
}

/* This was hiding map controls. Map center with this styling was {lat: 39.8, lng: -86.0581} */
/*html, body, section, #map {
	width: 100%;
	height: 100%;
}*/

input, 
#map {
	color: #000;
}

ul {
	padding-left: 0px;
	margin: 20px 0px 0px 0px;
	height: calc(100% - 95px);
	overflow: auto;
}

li {
	list-style-type: none;
}

.restaurant-list {
	font-size: 22px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.info-window-li {
	font-size: 12px;
	margin: 0;
}

/* TODO: Temporary styling */
.restPhoto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 150px;
	height: 150px;
}

.fs-img {
	display: block;
}

#sidebar {
	background-color: #444;
	width: 360px;
}

#map {
	border: 5px groove #de005f;
	position: absolute;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: calc(100% - 360px);
}