/******************************

Styling tips from Google API Docs:
https://developers.google.com/maps/documentation/javascript/basics

******************************/

body {
	font-family: Raleway, Verdana, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

/* TODO: Unsure if below style necessary */
html, body, section, #map {
	width: 100%;
	height: 100%;
}

#map {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 350px;
}