/******************************

Styling tips from Google API Docs:
https://developers.google.com/maps/documentation/javascript/basics

******************************/

html {
	box-sizing: border-box;
}

body {
	font-family: Raleway, Verdana, sans-serif;
	background-color: #444;
	color: #fff;
}

html, body {
	margin: 0;
	padding: 0;
}

/* This was hiding map controls. Map center with this styling was {lat: 39.8, lng: -86.0581} */
/*html, body, section, #map {
	width: 100%;
	height: 100%;
}*/

input, #map {
	color: #000;
}

ul {
	padding-left: 0px;
}

li {
	list-style-type: none;
}

.restaurant-list {
	font-size: 22px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.info-window-li {
	font-size: 12px;
	margin: 0;
}

/* TODO: Temporary styling */
.restPhoto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 150px;
	height: 150px;
}

.fs-img {
	display: block;
}

#map {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 350px;
}