/************************

Media queries

************************/

/*@media screen and (min-width: 1071px) {

}
*/
@media screen and (max-width: 1070px) {
	h1 {
		font-size: 1.5em;
	}
	.sidebar {
		width: 250px;
	}
	.map {
		width: calc(100% - 250px);
	}
	.restaurant-list {
		font-size: 16px;
	}
}

@media screen and (max-width: 750px) {
	input {
		display: inline;
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 5%;
		width: 80%;
	}
	.sidebar {
		width: 100%;
		height: 75px;
	}
	.sidebar-heading {
		display: none;
	}
	.filtered-list {
		position: relative;
		z-index: 2;
		height: 0px;
		left: -5px;
		text-align: center;
		overflow: auto;
		transition: 1s ease all;
		margin-top: 23px;
		background-color: #444;
		opacity: 0.9;
	}
	.restaurant-list {
		font-size: 22px;
		padding: 1em;
	}
	.icon {
		display: inline-block;
		margin-left: 5%;
		vertical-align: -30%;
	}
	.map {
		top: 75px;
		width: 100%;
		height: calc(100% - 75px);
	}
	.move {
		height: calc(100vh - 75px);
	}
}

@media screen and (max-width: 421px) {
	input {
		width: 75%;
	}
}