/******************************

Styling tips from Google API Docs:
https://developers.google.com/maps/documentation/javascript/basics

******************************/

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, 
body {
	margin: 0px;
	padding: 0px;
}

html,
body,
.app-container,
.sidebar,
.map {
	height: 100%;
}

body {
	font-family: Raleway, Verdana, sans-serif;
	color: #fff;
	background-color: #444;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

ul {
	padding-left: 0px;
	margin: 20px 0px 0px 0px;
	height: calc(100% - 95px);
	overflow: auto;
}

li {
	list-style-type: none;
}

input {
	width: 80%;
	border-radius: 10px;
	padding: 5px;
}

input:focus {
	outline: none;
}

input, 
.map {
	color: #000;
}

.no-display,
.mobile-view {
	display: none;
}


.app-container {
	display: flex;
}

.mobile-filter-list {
	position: relative;
	z-index: 2;
	height: 0px;
	text-align: center;
	overflow: auto;
	transition: 1s ease all;
}

.restaurant-list {
	font-size: 22px;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}

.info-window-li {
	font-size: 12px;
	margin: 0;
}

/* TODO: Temporary styling */
.restPhoto {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 150px;
	height: 150px;
}

.fs-img {
	display: block;
}

.sidebar-heading {
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 10px;
}

.sidebar {
	position: absolute;
	padding-left: 10px;
	width: 360px;
	left: 0px;
	transition: 1s ease all;
}

.map {
	border: 5px groove #de005f;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: calc(100% - 360px);
}

.move {
	height: calc(100vh - #{$top-nav});
}